* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    font-size: 14px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f1f3fe;
    color: #3c425f;
}

.body--container {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 80px 1fr 100px;
}

@mixin boxShadow {
    box-shadow: 0px 1px 4px rgba(60, 66, 95, 0.2);
}

@mixin borderRadius {
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 45px;
    grid-row: 1/2;
    grid-column: 2/3;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #b4bef0;
    align-items: center;
    padding: 0 30px;
}

.profile {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}

.profile-btn {
    width: 10px;
    height: 10px;
}

.item-with-picture::before {
    content: "O";
    width: 40px;
    height: 40px;
    font-weight: 900;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #b4bef0;
    background-color: #f1f3fe;
    border-radius: 50px;
}

.profile-name {
    display: grid;
    grid-template-columns: 40px auto auto;
    grid-column-gap: 12px;
    align-items: center;
}

#search {
    color: #b4bef0;
    border: none;
}

.nav {
    grid-row: 1/3;
    grid-column: 1/2;
    border-right: 1px solid #b4bef0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 24px 30px;
    background-color: #ffffff;
}

.nav__li {
    padding: 20px 30px;
}

.nav__a {
    display: flex;

    p {
        font-weight: 300;
    }
}

.nav__a--setting {
    display: flex;
}

/*main*/


.main {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 300px auto 1fr;
    gap: 20px;
    grid-template-areas:
        "s s c"
        "o o c"
        "v pm c";
    padding: 30px;
}

.swiper {
    @include boxShadow;
    grid-area: s;
    background-image: url("../images/bb.jpg");
    background-repeat: no-repeat;
    width: 820px;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    padding: 60px;
}

.swiper__h1,
.swiper__p {
    margin-bottom: 30px;
}

.swiper__btn-orange {
    width: 64px;
    height: 64px;
    left: -32px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background-color: #ff8f0b;
    border-radius: 4px;
    padding: 10px 20px;
    max-width: 170px;
}

.slider-btn {
    position: absolute;
    width: 64px;
    height: 64px;
    left: -32px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
}

.slider-btn-next {
    left: auto;
    right: -32px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.main__ul-offer {
    grid-area: o;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.main__li-offer {
    @include boxShadow;
    @include borderRadius;
    display: grid;
    background-color: #ffffff;
    padding: 10px 30px;
}

.main__offer-h2 {
    font-weight: 500;
    font-size: 18px;
}

p.main__offer-p-about {
    font-weight: 300;
    font-size: 14px;
}

p.main__offer-p-date {
    font-weight: 900;
    font-size: 14px;
    color: #0bc4cf;
}

.main__offer-btn {
    @include boxShadow;
    justify-self: end;
    align-self: center;
    font-weight: 500;
    font-size: 16px;
    color: #576bcc;
    box-shadow: none;
}

.playlist {
    width: 260px;
    background: #ffffff;
    padding: 20px 30px;
    @include boxShadow;
    @include borderRadius;
    height: 300px;
    overflow-y: auto;
}

.playlist__ul {
}

.playlist__li {
    padding: 8px 0;
}

.playlist__a {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-rows: 1fr 1fr;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    column-gap: 12px
}

.playlist__a:before {
    grid-row: 1/3;
    content: "";
    width: 40px;
    height: 40px;
    font-weight: 900;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #b4bef0;
    background-color: #f1f3fe;
    border-radius: 10px;
}

.playlist__name {
    
}

.playlist__lang {
    
}

/*contacts*/

.contacts {
    @include borderRadius;
    grid-area: c;
    background-color: #ffffff;
    padding: 20px 30px;
    box-shadow: 0px 1px 4px rgba(60, 66, 95, 0.2);
}

.contacts__a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.contacts__name {
    font-weight: 300;
    font-size: 14px;
}

.contacts__lang {
    color: #3c425f;
    opacity: 0.5;
    font-weight: 300;
    font-size: 14px;
}

.contacts__a::before {
    grid-row: 1/3;
    content: "O";
    width: 40px;
    height: 40px;
    font-weight: 900;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #b4bef0;
    background-color: #f1f3fe;
    border-radius: 50px;
}

.contacts--h2 {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #e4e8fc;
}

.contacts__ul {
    padding: 20px 0;
    border-top: 1px solid #e4e8fc;
}

.video {
    grid-area: v;
}

.lesson-video {
    @include boxShadow;
}

.play-menu {
    grid-area: pm;
}

.h2-style {
    font-weight: 500;
    font-size: 18px;
}

/*footer*/

.footer {
    grid-row: 3/4;
    grid-column: 1/3;
    grid-area: "footer";
    display: grid;
    grid-template-columns: 280px 1fr 280px;
    grid-column-gap: 20px;
    padding: 20px 30px;
    min-height: 60px;
    background-color: #3c425f;
    color: #FFFFFF;
}

.page-footer-logo {
    justify-self: center;
    color: #FFFFFF;
}

.copyright-details {
    justify-self: end;

    a {
        color: #FFFFFF;
    }
}

